<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Order Success</title>
    <link rel="stylesheet" href="/stylesheet/orderSuccess.css">
    <link rel="stylesheet" href="/stylesheet/flashMessage.css">
</head>

<body>
    <%- include('partials/flash') %>
    <div class="success-container">
        <div class="success-icon">✔</div>
        <h2>🎉 Order placed successfully!</h2>
        <p>Thank you for shopping with us. Your items will be delivered soon.</p>
        <a href="/auth/dashboard">Continue Shopping</a>
    </div>
</body>

</html>